/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,300,700|Raleway:400,100,300,700,500");
@import url(https://fonts.googleapis.com/css?family=Petit+Formal+Script);
$base-font: "Open Sans", "Helvetica", "sans-serif";
$header-font: 'Petit Formal Script', cursive;

// Local fonts (uncomment following lines)
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";

// Font-size and line-height
$base-size: 16px;
$mini-size: 12px;
$base-height: 1.4;
$h1-size: 30px;
$h2-size: 25px;
$h3-size: 20px;
$h4-size: 16px;


/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #49E9CD;
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #49E9CD;
$pink: #ffe9c4;

// $pink:#F9CDDA;
// $pink:#FF9899;



// Gray scale
$gray-darker:  lighten(#000, 13.5%); // #222
$gray-dark:    lighten(#000, 20%);   // #333
$gray:         lighten(#000, 33.5%); // #555
$gray-light:   lighten(#000, 46.7%); // #777
$gray-lighter: lighten(#000, 93.5%); // #eee
