<div class="banner text-center" style="background-image: url('<%= image_path "CHSD" %>')">
  <div class="banner-gradient"></div>
  <div class="bg-height-300 bg-white top1">
    <div class="countdown">
      <h1>Mariage Géraldine & Jean</h1>
      <ul>
        <li class="chart" data-percent="75"><span id="days"></span>Jours</li>
        <li class="chart" data-percent="15"><span id="hours"></span>Heures</li>
        <li class="chart" data-percent="83"><span  id="minutes"></span>Minutes</li>
        <li class="chart" data-percent="83"><span id="secondes"></span>Secondes</li>
      </ul>
    </div>
  </div>
</div>





<div id="getting-started"></div>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>

  $('#days').countdown('2016/06/04', function(event) {
    $(this).html(event.strftime('%D'));
  });

  $('#hours').countdown('2016/06/04', function(event) {
      $(this).html(event.strftime('%H'));
  });

  $('#minutes').countdown('2016/06/04', function(event) {
    $(this).html(event.strftime('%M'));
  });

  $('#secondes').countdown('2016/06/04', function(event) {
    $(this).html(event.strftime('%S'));
  });

  <% end %>
<% end %>


