<div class="banner text-center" style="background-image: url('<%= image_path "CHSD" %>')">
  <div class="banner-gradient"></div>
  <div class="banner-content">
    <h1>Géraldine & Jean</h1>
    <ul>
      <li class="chart" data-percent="75"><span>26</span>Jours</li>
      <li class="chart" data-percent="15"><span>15</span>Heures</li>
      <li class="chart" data-percent="83"><span>50</span>Minutes</li>
    </ul>
  </div>
</div>

<div class="banner text-center" style="background-image: url('<%= image_path "index" %>')">
  <div class="banner-gradient"></div>
</div>
