<!-- <div class="sidebar sidebar-padded"> -->

<div class="container max-width">

  <div class="row">

    <div class="col-sm-12 padding-bottom-30">
      <h1 class="text-center padding-20"> Liste de mariage </h1>

      <%= link_to("http://www.millemercismariage.com/geraldinejean2016/mariage-de-geraldine-lapiche-et-jean-senemaud.html", html_options = { target: :_blank}) do %>
       <p class="text-center"> Cliquez pour accéder à notre liste de mariage </p>
        <div>
        <%= image_tag("gegejean4.jpg", class: "img-responsive img-thumbnail img-rounded")%>
        </div>
      <%end%>

    </div>
  </div>

  <div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
  </div>

</div>
