<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>

<div class="bg-pink">

  <div class="container max-width bg-pink">

    <div class="row">
      <div class="col-xs-12">
        <h1 class="text-center">Vous venez ? Dites-nous oui !! </h1>
        <div class="bg-height-400-center">
          <iframe frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://app.mailjet.com/widget/iframe/1Ab6/rv" width="600" height="383"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner-transition text-center" style="background-image: url('<%= image_path "fond2.png" %>')">
</div>
