// bg size and position
.bg-fond {
  // height: 1page;
  background-size: cover !important;
  background-position: center center;
  position: relative;
  background: image_url('fond3.png');
}


.bg-height-800 {
  height: 800px;
  background-size: cover !important;
  background-position: center center;
  position: relative;
}
.bg-height-500 {
  height: 500px;
  background-size: cover !important;
  background-position: center center;
  position: relative;
}
.bg-height-400 {
  height: 400px;
  background-size: cover !important;
  background-position: center center;
   position: relative;

}

.bg-height-400-center {
  height: 400px;
  background-size: cover !important;
  background-position: center center;
   position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

}
.bg-height-350 {
  height: 350px;
  background-size: cover !important;
  background-position: center center;
  position: relative;
}
.bg-height-300 {
  height: 300px;
  background-size: cover !important;
  background-position: center center;
  position: relative;
}
.bg-height-250 {
  height: 250px;
  background-size: cover !important;
  background-position: center center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bg-height-240 {
  height: 240px;
  background-size: cover !important;
  background-position: center center;
  position: relative;
}

.bg-height-200 {
  height: 200px;
  background-size: cover !important;
  background-position: center center;
  position: relative;
}
.bg-height-150 {
  height: 150px;
  background-size: cover !important;
  background-position: center center;
  position: relative;
}
.bg-height-100 {
  height: 100px;
  background-size: cover !important;
  background-position: center center;
  position: relative;
}

.bg-height-100p {
  height: 100%;
  background-size: cover !important;
  background-position: center center;
  position: relative;
}
.bg-full-size {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
}
// BG colors
.bg {
  &-red{
    background: $red;
    z-index: 0;
  }
  &-orange{
    background: $orange;
    z-index: 0;
  }
  &-blue{
    background: $blue;
    z-index: 0;
  }
  &-green{
    background: $green;
    z-index: 0;
  }
  &-grey{
    background: $brand-color;
    z-index: 0;
  }
  &-gradient {
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.5));
    z-index: 1;
  }
  &-dark-gradient {
    background-color: black; //$brand-color;
    opacity: 0.4;
    z-index: 1;
  }
  &-white-gradient {
    background-color: white; //$brand-color;
    opacity: 0.2;
    z-index: 1;
  }
  &-blue-gradient {
    background-color: $blue; //$brand-color;
    opacity: 0.2;
    z-index: 1;
  }
  &-green-light{
    background: $green;
    z-index: 0;
    opacity: 0.8;
  }
  &-red-gradient {
    background-color: $red; //$brand-color;
    opacity: 0.2;
    z-index: 1;
  }
  &-orange-gradient {
    background-color: $orange; //$brand-color;
    opacity: 0.2;
    z-index: 1;
  }
  &-orange-light{
    background: $orange;
    z-index: 0;
    opacity: 0.8;
  }

  &-yellow {
    background: $yellow;
    z-index: 0;
  }
  &-white {
    background: white;
    z-index: 0;
  }
  &-pink {
    background: $pink;
    z-index: 0;
  }
}

// manage z-index
.top-1 {
  z-index: 1;
}
.top-2 {
  z-index: 2;
}
.top-3 {
  z-index: 3;
}
.top-4 {
  z-index: 4;
}
