// Fonts
body {
  font-size: $base-size;
  font-family: $base-font;
}
h1 {
  font-size: $h1-size;
  font-family: $header-font;
  color: $green;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
h2 {
  font-size: $h2-size;
  font-family: $header-font;;
  color: $pink;
}
h3 {
  font-size: $h3-size;
  font-family: $header-font;;
}
h4 {
  font-size: $h4-size;
  font-family: $base-font;
}

h5 {
  font-size: 10px;
  font-family: $base-font;
}

.h1-size {
  font-size: $h1-size;
  font-family: $header-font;
  line-height: 1;
}

.h1-size-medium {
  font-size: $h1-size;
  font-family: $header-font;
  line-height: 1;
}
.h2-size {
  font-size: $h2-size;
  font-family: $header-font;
  line-height: 1;
}

.h3-size {
  font-size: $h3-size;
  font-family: $header-font;
  line-height: 1;
}

.h4-size {
  font-size: $h4-size;
  font-family: $base-font;
  line-height: 1;
}

.font-green {
  color: $green!important;
}
.font-pink {
  color: $pink!important;
}

.font-white {
  color: white;
}
