.position-b15-l15 {
  position: absolute;
  bottom: 15px;
  left: 15px;
}

.position-b10-l10 {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.position-t15-l15 {
  position: absolute;
  top: 15px;
  left: 15px;
}

.position-t20-l5 {
  position: absolute;
  top: 20px;
  left: 5px;
}
.position-b20-r20 {
  position: absolute;
  bottom: 20px;
  right: 20px;
}
