.banner {
  background-size: cover;
  z-index: 0;
  text-align: center;
  height: 300px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-transition {
  background-size: cover;
  z-index: 0;
  text-align: center;
  height: 50px;
  background-size: cover !important;
}

.banner-photo {
  background-size: cover;
  z-index: 0;
  text-align: center;
  height: 500px;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;

}

.banner h1 {
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
}
.banner p {
  font-size: 18px;
 /* color: rgba(255, 255, 255, 0.7);
*/
  color: $brand-color;
  line-height: 3;
  margin-bottom: 18px;
}
.banner-gradient {
  background-image: linear-gradient(90deg, #C9FFBF 10%, #FFAFBD 90%); /* Chrome 10+, Saf5.1+ */
  position: absolute;
  opacity: 0.3;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
.banner-content {
  z-index: 2;
  background-color: white;
  color: $green;
  position: relative;
  margin-top: 40px;
  margin-bottom: 40px;
}

.banner-heart-1 {
  position: absolute;
  right: 10px;
  top: 10px;
  color: $pink !important;
}

.banner-heart-2 {
  position: absolute;
  left: 10px;
  top: 10px;
  color: $pink !important;
}

.banner-heart-3 {
  position: absolute;
  right: 10px;
  bottom: 10px;
  color: $pink !important;
}

.banner-heart-4 {
  position: absolute;
  left: 10px;
  bottom: 10px;
  color: $pink !important;
}


.banner .btn {
  padding: 12px 30px;
  border-radius: 3px;
  font-weight: bold;
  border: none;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
  letter-spacing: 1px;
  font-size: 16px;
}

.banner-bg {
  background-size: cover;
  position: absolute;
  width: 100%;
  background-position: center center;
  background-repeat:no-repeat;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.banner-link {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index:5;
  &:hover{
    opacity: 0.1;
  }
}
