.bottom-border{
  border-bottom: 1px solid rgba(64, 73, 78, 0.3); // brand-color in RGBA
}

.top-border{
  border-top: 1px solid rgba(64, 73, 78, 0.3); // brand-color in RGBA
}

.left-border{
  border-left: 1px solid rgba(64, 73, 78, 0.3); // brand-color in RGBA
}

.right-border{
  border-right: 1px solid rgba(64, 73, 78, 0.3); // brand-color in RGBA
}

.border-white{
  border: 2px solid white !important; // brand-color in RGBA
}

.border-total{
  border: 1px solid rgba(64, 73, 78, 0.3);
}

