// Graphical variables
@import "config/variables";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS
@import "layout/index";
@import "components/index";
@import "pages/index";
@import "vendor/index";

//for the lightbox
@import "lightbox/lightbox.scss";

@media (max-width: $screen-sm){
  body {
    padding-top: 60px;
  }
}

label {
  display: inline-block;
  max-width: 100%;
  margin-bottom: 1px;
  font-weight: 400;
}
