<div class="margin-bottom-10 padding-5" style="background-color:white">
<p style="margin-bottom:0px;"> <strong><%=review.name %></strong> - <%= review.created_at.strftime("%e %b %kh%M") %></p>
<p style="margin-bottom:0px;"><%= review.content %>
</p>
</div>
