<nav class="navbar-wagon">
  <div class="container navbar-wagon-container navbar-wagon-fixed navbar-wagon-height">

    <a href="/">
      <%= image_tag 'tampon-rose.png', class: "navbar-wagon-logo" %>
    </a>

    <div class="navbar-wagon-pusher"></div>

    <hr class="hidden-xs hidden-sm">
    <a href="/" class="navbar-wagon-item navbar-wagon-link">Géraldine et Jean</a>
    <hr class="hidden-xs hidden-sm">
    <a href="<%=mariage_path%> " class="navbar-wagon-item navbar-wagon-link">Lieux du mariage</a>
    <hr class="hidden-xs hidden-sm">
    <a href="/lieus" class="navbar-wagon-item navbar-wagon-link">Où se loger</a>
    <hr class="hidden-xs hidden-sm">
    <a href="/covoiturages" class="navbar-wagon-item navbar-wagon-link">Comment venir ?</a>
    <!-- <div class="navbar-wagon-item">
      <div class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown"> <p>Comment venir ?</p></a>
        <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
          <li><a href="#">Covoiturage</a></li>
          <li><a href="#">Autre</a></li>
        </ul>
      </div>
    </div> -->
    <hr class="hidden-xs hidden-sm">
    <a href="/rsvp" class="navbar-wagon-item navbar-wagon-link">RSVP</a>
    <hr>

  </div>
</nav>

<% content_for(:after_js) do %>
  <%= javascript_tag do %>

      $(window).on("scroll", function(e) {

        if ($(window).width() > 768) {
          console.log($(window).width())

          if ($(window).scrollTop() >= 200 ) {
            $('.navbar-wagon-height').css("height", 70)
            $('.navbar-wagon-logo').css("height", 50)
            $('.navbar-wagon-logo').css("width", 50)
             console.log("yo")
          };

          if ($(window).scrollTop() < 200 ) {
            $('.navbar-wagon-height').css("height", 180)
            $('.navbar-wagon-logo').css("height", 150)
            $('.navbar-wagon-logo').css("width", 150)
             console.log("yo")
          };

        };
       });

  <% end %>
<% end %>
